<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <client />
    <bindings>
      <netTcpBinding>
        <binding name="NoneSecurity" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>    
    <behaviors>
      <serviceBehaviors>
        <behavior name="exposeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Service.PushMessageServer"
               behaviorConfiguration="exposeExceptionDetail">
        <endpoint address="net.tcp://127.0.0.1:3721/PushMessageServer"
                  binding="netTcpBinding" bindingConfiguration="NoneSecurity"
                  contract="Interface.IPushMessage"/>
      </service>
    </services>
  </system.serviceModel>
  
  <appSettings>
    <!--<add key="JavaServicePath" value="http://127.0.0.1:8080/cimWebService/services/CimMesResultWebservice" />-->
    <add key="JavaServicePath" value="http://192.168.2.176:8080/service/TestWcfWebService" />
    <add key="Log" value="1"/>
    <add key="MethodName" value="downloadStripMapWcfSuccess"/>
  </appSettings>
</configuration>